/* layout : Using an 'optional-container' instead of 'body', so need body to have a 'height' */
html, body {
	width:		100%;
	height:		100%;
	padding:	0;
	margin:		0;
	/*overflow:	hidden !important;*/
}
#container {
	width:			98%;
	height:			96%;
	margin-top:		1%;
	margin-left:	1%;
}
#inner-wrapper {
		overflow: auto;
}
.ui-layout-center { overflow: hidden; }
.ui-layout-north > button {
	float: right;
	border: 1px outset silver;
	background: none;
	background-color: white;
	font-size: smaller;
	margin-left: 6px;
	margin-top: 6px;
	cursor: pointer;
}
.ui-layout-north > button:first-of-type {
	margin-right: 20em;
}
.ui-layout-north > a {
	float: right;
	margin: 6px;
}
.ui-layout-pane {
	border-radius: 4px;
}
/* tree */
html, body { background:#ebebeb; font-size:10px; font-family:Verdana; margin:0; padding:0; }
/*#container { min-width:320px; margin:0px auto 0 auto; background:white; border-radius:0px; padding:0px; overflow:hidden; }*/
#tree { float:left; /*min-width:319px; border-right:1px solid silver;*/ overflow:hidden; padding:0px 0; }
/*#data { margin-left:320px; }*/
/*#data textarea { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; }*/
#data { font: normal normal normal 12px/18px 'Consolas', monospace !important; }

#data pre { line-height: 1em; text-align: left; padding-left: 1em; }

.jstree-contextmenu {
	z-index: 9999; /* concurence avec layout */
}
.ui-tabs-anchor .jstree-icon {
	margin-right: 3px;
}
/* favpanel */
.jstree-favpanel a {
	cursor : pointer;
}
.jstree-favpanel .jstree-node {
	display : inline-block;
	position : absolute;
	background-image : none;
}
.tree-favpanel-toolbar a {
	margin: 2px;
	opacity: 0.5;
	position: absolute; 
	left: 2px;
}
.tree-favpanel-toolbar a:hover {
	opacity: 1;
}

/* */		
.edq-error {
	font-weight: bold;
	background-color:#f57900;
	padding: 4px;    
	border: 1px outset #000000;
    margin-top: 8px;
	white-space: pre;
}
/* tabs dont chaque onglet est un noeud */
.edq-nodes > .ui-widget-header {
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #5AB8C8;
    border: 1px solid #2AB8C8;
    color: #FFFFFF;
    font-weight: bold;
	font-family: Verdana;
	font-size: smaller;
}
/* panneaux des tabs dont chaque onglet est un noeud */
.edq-nodes > .ui-widget-content {
	padding: 0.4em;
}
/* tabs dont chaque onglet est un viewer */
.edq-viewers > .ui-widget-header {
}
/* titre au-dessus du tabs dont chaque onglet est un noeud */
.edq-viewers.header-footer.ui-state-default {
	padding: 4px 5px 0 8px;
	text-align: left;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 11px;
	font-family: Verdana;
}
.edq-viewers.header-footer.ui-state-default > label > .jstree-icon {
	margin-right: 3px;
}
.edq-viewers.header-footer .toolbar {
	float: right;
}
.edq-viewers.header-footer .toolbar > * {
	float: right;
}
.edq-viewers.ui-tabs > .ui-tabs-panel {
	padding-left : 1.0em;
}

.edq-viewers .ui-tabs-panel.edq-viewer-file-call
, .edq-viewers .ui-tabs-panel.edq-viewer-query-call {
	background-color: white;
}

table.edq {
	padding	: 0px;
	border	: 1px outset;
}
table.edq > thead {
	background-color	:#c1c1ae;
	font-weight	:bold;
}
table.edq > tbody > tr > td.TitleCol, table.edq > tr > td.TitleCol {
	background-color	:#c1c1ae;
	font-weight	:bold;
}
table.edq > tbody {
	background-color : #eaf9d5;
	border-spacing	: 2px;
}
table.edq > thead > tr > th, table.edq > tbody > tr > td , table.edq > tr > td {
	border-spacing	: 2px;
	vertical-align: top;
}
table > thead > tr > th.pk {
	text-decoration:underline;
}

.ui-tabs-nav .jstree-default .jstree-icon:empty {
    height: 16px;
}

.edq-toolbar {
	font-size: smaller;
	padding: 0 0 6px 0;
}
.edq-toolbar a.edq-refresh {
	background: url(../images/refresh.png) no-repeat; 
	padding-left: 18px;
}

#edQ .CodeMirror {
  /* Set height, width, borders, and global font properties here */
  height: 400px;
}

/* boutons de barres d'outils */
.ui-border-none
, .ui-state-default.ui-border-none {
	border: none;
}

ul.edq-doc, .edq-doc  ul {
	list-style: none;
}
.edq-doc  code {
	white-space: pre;
}
#data .edq-doc  pre, .edq-doc  pre {
	font-family: inherit;
	line-height : 1.3em;
}

.edq-buttons.ul { list-style: none; }
.edq-buttons > li { display: inline-block; padding: 1em 0; margin : 1em; 
		border: 2px outset gray; border-radius: 4px; }
.edq-buttons > li:hover { background-color: #F7F7F7; }
.edq-buttons> li:hover:active { border-style: inset; }
.edq-buttons> li a { padding: 1em 2em; }