/* -------------------------------------------------------------------
// markItUp!
// ED
// ------------------------------------------------------------------*/
.markItUp.type-dataSource .markItUpButton a {
	background-image:url(images/toolbar.png);
	width:48px;
}
.markItUp.type-dataSource .markItUpButton1 a {
	background-position: 0px 0;
}
.markItUp.type-dataSource .markItUpButton2 a { 
	background-position: -48px 0;
}
.markItUp.type-dataSource .markItUpButton3 a {
	background-position: -96px 0;
}
.markItUp.type-dataSource .markItUpButton4 a {
	background-position: -144px 0;
}
.markItUp.type-dataSource .markItUpButton5 a { 
	background-position: -192px 0;
}
.markItUp.type-dataSource .markItUpButton6 a {
	background-position: -240px 0;
}

.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}

textarea.markItUpEditor,
.ui-widget textarea.markItUpEditor {
	font-family: "Courier New", Courier, monospace;
}